.App {
  text-align: center;
}
.bluegrad {
  background-image: linear-gradient(to top right, blue, lightblue);
  height: 800px;
  background-repeat: no-repeat;
  background-size: auto;
}
.boldText {
  text-decoration-style: bold;
}
.redgrad {
  background-image: linear-gradient(to top right, red, lightpink);
  /* height: 1100px; */
  background-repeat: no-repeat;
  background-size: auto;
}
.goldgrad {
  background-image: linear-gradient(to top right, gold, lightyellow);
  height: 800px;
  background-repeat: no-repeat;
  background-size: auto;
}
.greengrad {
  background-image: linear-gradient(to top right, green, lightgreen);
  height: 800px;
  background-repeat: no-repeat;
  background-size: auto;
}
.link {
  display: block;
  border: solid thin gold;
  background-color: lightskyblue;
  width: 200px;
  padding: 10px 20px;
  text-decoration: none;
}
.link :hover {
  background-color: darkslategrey;
  color: white;
}
.active1 {
  display: block;
  border: solid thick red;
  background-color: orangered;
  width: 200px;
  padding: 10px 20px;
  text-decoration: none;
  color: white;
}
.active2 {
  display: block;
  border: solid thick yellow;
  background-color: lime;
  width: 200px;
  padding: 10px 20px;
  text-decoration: none;
  color: white;
}
.active3 {
  display: block;
  border: solid thick green;
  background-color: turquoise;
  width: 200px;
  padding: 10px 20px;
  text-decoration: none;
  color: white;
}
.active4 {
  display: block;
  border: solid thick blue;
  background-color: purple;
  width: 200px;
  padding: 10px 20px;
  text-decoration: none;
  color: white;
}
.box {
  display: block;
  background-color: darkslategrey;
  margin: 35px;
  border: solid thin gold;
  color: white;
}
.h3box {
  display: block;
  display: flex;
  justify-content: space-around;
  margin: 20px;
}
.paper {
  background-color: white;
  border: solid black;
  margin: 20px;
}
.gbox {
  border: solid gold;
  display:flex;
  padding: 20px;
  flex-direction: column;
  justify-content: center;
  align-self: flex-start;
  }